/* @override http://0.0.0.0:4000/css/style.css */

/* @group General */

* {
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
}

/* @end */






/* @group Typography */


h1 {
	font: 900 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	color: #111;
	text-align: center;
}
h2 {
	font: 100 24px/30px Georgia, "Times New Roman", Times, serif;
	text-transform: capitalize;
	color: #333;
	word-spacing: 0;
	letter-spacing: 0px;
	text-align: center;
}
h3 {
	font: 500 16px/24px Georgia, "Times New Roman", Times, serif;
	color: #666;
}
h4 {
	font: 500 15px/24px Georgia, "Times New Roman", Times, serif;
	color: #666;
}
h5 {
	font: 400 14px/24px Georgia, "Times New Roman", Times, serif;
	color: #666;
}
h6 {
	font: 300 13px/24px Georgia, "Times New Roman", Times, serif;
	color: #666;
}

p,
ul,
ol,
a,
blockquote,
article {
	font: 300 17px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #555;
}
p > em {
	/*font-weight: 500;*/
}

ul,ol {
	padding: 0 0 0 24px;
}
ul > li,ol > li {
	text-align: left;
}
ul > li:last-of-type,
ol > li:last-of-type {
	margin: 0;
}

blockquote > p:before,
blockquote > p:after {
	content: '"';
}

/* @end */







/* @group article */
article {
	max-width: 720px;
	margin: 0 auto;
	padding: 48px 0px;
	text-align: left;
}
article > * {
	margin:0 0 24px 0;
}
article > blockquote,
article > p > em {
	display: block;
	text-align: center;
}
article > :first-child {
	margin-top: 0;
}
article > :last-child {
	margin-bottom: 0;
}

article img {
	width: 100%;
	margin-bottom: 24px;
}
article blockquote {
	padding: 24px 0;
}



@media all and (max-width: 960px) {

	article {
		padding: 48px;
		column-count: 1;
	}

}

@media all and (max-width: 720px) {

	article {
		padding: 0 24px;
		column-count: 1;
	}

}

@media all and (max-width: 480px) {

	article {
		padding: 0 0 48px 0;
	}
	article h1,
	article h2,
	article h3,
	article h4,
	article h5,
	article h6,
	article p,
	article ul {
		padding-left: 24px;
		padding-right: 24px;
	}
	article ul,
	article ol {
		padding-left: 60px;
	}
}
/* @end */


/* @group Header */

.header {
	position: absolute;
	width: 100%;
	z-index: 1000000000000000;
	display: block;
	height: 72px;
	
} 
.header-wine {
	background-color: #402828;
	position:relative;
}
.header > div {
	display: block;
	height: 72px;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}

.header > div > a {
	float: left;
	max-width: 50%;
	height: 100%;
	position: relative;
	text-decoration: none;
	height: 72px;
	padding: 0 0 0 0px;
	text-transform: uppercase;
	text-align: center;
	font: 200 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}
.header > div > a > img {
	/*position: absolute;*/
	/*left: 0px;*/
	/*top: 18px;*/
	height: 100%;
}
.header > div > a > span {
	display: block;
	font-size: 12px;
	letter-spacing: 13px;
}
.header > div > a > strong {
	display: block;
	letter-spacing: 1px;
	white-space: nowrap;
	border-bottom: 2px solid #fff;
}

.header > div > a > p {
	font: 400 16px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
	color: #fff;
}
.header > div > nav {
	background-color: rgba(0,0,0,0);
	float: right;
	text-align: left;
}
.header div > nav > a {
	display: inline-block;
	position: relative;
	margin: 0 12px 0 0;
	font: 600 12px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,.75);
	color: rgba(255,255,255,.75);
	color: #fff;
}
.header > div > nav > a:hover {
	color: #eb363d;
}
.header > div > nav > a.selected {
	color: #eb363d;
}
.header > div > nav > a.selected:before  {
	content: '\00a0';
	position: absolute;
	left: 50%;
	bottom: 18px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 -4px;
	background: #eb363d;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.header > div > nav > a.selected:after  {
	content: '\00a0';
	position: absolute;
	left: 0;
	bottom: 22px;
	width: 100%;
	height: 5px;
	background: #eb363d;
}
.header > div > nav > a:last-of-type {
	margin-right: 0;
}

.header > div > nav > a.cta {
	padding: 3px 18px;
	border: 2px solid #fff;
	border-radius: 48px;
	line-height: 24px;
}
.header > div > nav > a.cta:hover {
	background: #fff;
	color: #000;
}


.header > .menu-button {
	display: none;
	position: absolute;
	z-index: 10000000000;
	right: -60px;
	top: 12px;
	width: 48px;
	height: 36px;
	padding: 0;
	cursor: pointer;
}
.header > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 8px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}







@media all and (max-width: 960px) {

header {
	left: 0;
	margin: 0;
}
.header > div {
	padding: 0 12px;
}
.header > div > a {
	margin: 0 0 0 12px;
}

}
@media all and (max-width: 720px) {
.header {
	position: fixed;
	z-index: 100000000;
	left: -250px;
	top:0;
	height: 100%;
	width: 250px;
	padding: 175px 0px 0px 0px;
	background: #402828;
	background-size: cover;
	background-position: center;
	text-align: center;
	-webkit-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;

}
	

.header > div {
	display: block;
	width: 100%;
	height: auto;
}

.header > div > a {
	float: none;
	width: 100%;
	height: 175px;
	max-width: none;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
.header > div > a > img {
	float: none;
	position: relative;
	left: auto;
	right: auto;
	display: inline-block;
	width: 80%;
	height: auto;
	margin: 48px auto 0 auto;
}
.header > div > a > h1 {
	font-size: 12px;
}
.header > div > a > h1 > span {
	font-size: 24px;
	line-height: 36px;
}




.header > .menu-button {
	display: block;
}

.header > div > nav {
	position: relative;
	float: none;
	width: 100%;
	height: auto!important;
	padding: 24px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
	text-align: left;
}
.header > div > nav > a {
	position: relative;
	margin: 0;
	padding: 0 0 0 24px;
	border: 1px solid rgba(0,0,0,0);
	display: block;
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 1px;
	text-align: left;
}
.header > div > nav > a.selected {
	font-weight: 400;
	background: rgba(0,0,0,.25);
}
.header > div > nav > a.selected:after {
	top: 0px;
	left: -1px;
	height: 100%;
	width: 4px;
	
}
.header > div > nav > a.selected:before {
	bottom: 50%;
	left: -1px;
	margin: 0 0 -4px 0;
}
.header > div > nav > a.cta {
	display: inline-block;
	margin: 12px 0 0 24px;
}



.header > div > nav > a.snipcart-checkout {
	position: fixed;
	top: 12px;
	right: 12px;
	width: auto;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5), 0 1px 1px rgba(0,0,0,.5);
}
.header > div > nav > a.snipcart-checkout .snipcart-total-items {
	display: none;
	font-size: 18px;
	vertical-align: middle;
}
}


/* @group Header Open */


header.open {
	left: 0;
}
header.open > .menu-button {
	
}
header.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
}
header.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
header.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
header.open + .content {
	opacity: .25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}
header.open > .menu-button > span.three {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

/* @end */ 

/* @end */ 


/* @group BANNER */
.banner {
	position: relative;
	height: 72%;
	/*max-height: 720px;*/
	min-height: 320px;
	padding: 60px 0;
	background-image: url('');
	background-color: #26292d;
	background-size: cover;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.content .banner.half {
	height: 50%;
}

/*.banner:before {
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(43, 16, 5, 0.71);
}*/

.banner > .banner-bottom {
	position: absolute;
	z-index: 100000000;
	width: 100%;
	height: auto;
	left: 0;
	bottom: -1;
}
.content .banner.half > hgroup > p {
	clear: both;
	text-align: left;
	color: #fff;
}
.banner > img {
	position: absolute;
	height: 100%;
}
.banner > .background-image {
	position: relative;
	min-height:100%;
	min-width: 1024px;
	width:100%;
	height: auto;
}
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}




/* @group HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	padding: 0 24px;
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > img {
	max-width: 200px;
	margin: 0 auto 0px auto;
}
.banner > hgroup > img.large {
	width: 90%;
	max-width: 480px;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 400 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h1.home-title {
	/*font-family: 'Dancing Script', cursive;
	font-family: 'Bad Script', cursive;*/
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}
.banner > hgroup > h1.home-title > strong {
	display: block;
	letter-spacing: 0px;
	font-size: 96px;
	line-height: 150px;
	/*border-top: 1px solid #fff;*/
	letter-spacing: -2;
	
	font-family: 'Great Vibes', cursive;
	text-transform: capitalize;
}
.banner > hgroup > h2 {
	/*margin: 24px 0;*/
	font: 100 18px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
.banner > hgroup > .button {
	margin: 24px 0 0 0;
	background: none;
	border: 3px solid #fff;
}
.banner > hgroup > a > i {
	font-size: 18px;
	text-align: center!important;
	margin: 0px -18px 0 12px;
	padding: 8px;
	border-radius: 24px;
}




.banner > nav {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 24px;
}
.banner > nav > a {
	text-decoration: none;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: rgba(255,255,255,.5);
}
.banner > nav > a+a {
	margin: 0 0 0 12px;
}
.banner > nav > a:hover {
	color: #d64336;	
}


.banner > hgroup.video {
	
}
.banner > hgroup.video > h1 {
	position: relative;
	padding: 0 96px 0 0;
	
}


.banner > hgroup > section.post-info {
	color:#fff;
}

/* @end */

@media all and (max-width:480px) {

.banner {
	height: auto;
	padding: 96px 0px;
}
.banner:before,
.banner:after {
	display: none;
}

.banner > hgroup > h1.home-title {
	font: 400 12px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0;
}
.banner > hgroup > h1.home-title > strong {
	font-size: 60px;
	line-height: 60px;
}
	
}


/* @end */ 



/* @group BG Vid */

video { display: block; }

video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

/* @end */

/* @group Footer */

.footer {
	padding: 96px;
	background: #fff;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: #000;
}
.footer > section {
	text-align: center;
	color: inherit;
}
.footer > section > p {
	color: #f16;
}

.footer > section > a {
	display: block;
	margin: 0 auto 24px auto;
	max-width: 150px;
	text-decoration: none;
}

.footer > section > a > img {
	
}


.footer > section > .social {
	margin: 0 0 12px 0;
}
.footer > section > .social > a {
	text-decoration: none;
	font-size: 24px;
	color: inherit;
	margin: 0 12px;
}
.footer > section > .social > a:hover {
	color: #e71d25;
}


.footer > section > nav {
	padding: 10px;
	margin: 0 0 6px 0;
}
.footer > section > nav > a {
	margin: 0 9px;
	text-decoration: none;
	color: inherit;
}
.footer > section > nav > a:hover {
	color: #e71d25;
}



.footer > section > .copyright {
	margin: 0 0 0px 0;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	color: inherit;
}



.footer > section > .contact-info {
	display: none;
}
.footer > section > .contact-info > p {
	font:200  14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


@media all and (max-width:480px) {
	footer.footer {
		padding: 48px 12px;
	}
}

/* @end */


/* @group Buttons */

.button {
	display: inline-block;
	position: relative;
	width: ;
	margin:0;
	padding: 6px 24px;	
	background: #cb2027;
	border: 1px solide #2466b0;
	border-radius: 24px;
	outline: none;
	box-shadow: none;
	color: #fff;
	font: 900 12px/24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
}
.button:hover,
.button:active {
	color: #fff;
	border-color: #2466b0;
	background: #2466b0;
}




.button.outline {
	border: 3px solid #c8aa26;
	border-radius: 96px;
	background: none;
	color: ##2466b0;
}
.button.outline:hover {
	background: ##2466b0;
	color: #fff;
}



.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	
}

.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}

/* @end */







/* @group Map */

#map {
	position: relative;
	height: 50%;
}

/* @end */




/* @group About Us */
.about-us {
	margin: 0 auto;
	max-width: 720px;
	padding: 48px 0px;
}

/* @end */


/* @group Wine List */

.wine-list {
	/*margin:0 auto;*/
	/*max-width: 720px;*/
	text-align: center;
}
.wine-list > li {
    position: relative;
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 0px 0;
    overflow: hidden;
    vertical-align: top;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.wine-list > li > a {
	position: relative;
	display: block;
	text-decoration: none;
}
.wine-list > li > a > img {
	width: 100%;
}
.wine-list > li > a > hgroup {
	width:100%;
	left: 0;
	bottom: 0;
	padding: 12px;
}
.wine-list > li > a > hgroup > p {
	position: absolute;
	top: 3;
	right: 3px;
	padding: 2px 6px;
	background: rgba(0,0,0,.09);
	border-radius: 3px;
	font: 300 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.wine-list > li > a > hgroup > h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	color: #000;
}
.wine-list  > li > a > hgroup > h2:before {
	content: attr(title);
    display: block;
    font: 400 12px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #999;
}


@media all and (max-width:720px) {

.wine-list {
	text-align: left;
	padding: 24px;
}
.wine-list > li {
	float: left;
	width: 48%;
	margin: 0 1% 2% 1%!important;
}
.wine-list:after {
	content: '\00a0';
	display: block;
	clear: both;
}

}



/*@media all and (max-width:480px) {

.wine-list {
	
}
.wine-list > li {
	width: 100%;
	margin: 0 0 24px 0!important;
	padding: 0;
	/*border: none;*!/
}
.wine-list > li > a {
	position: relative;
}
.wine-list > li > a > hgroup {
	position: absolute;
	bottom: 0px;
	left: auto;
	right: -2px;
	width: 75%;
	padding: 12px 24px;
	background: #ccc;
	border: 2px solid #ccc;
}

}*/

/* @end */






/* @group Featured Wines */

.featured-wines {
	margin:0 auto;
	max-width: 720px;
}
.featured-wines > h1 {
	text-align: center;
}


/* @end */







/* @group Events */

.events {
	margin: 48px auto;
	max-width: 720px;
	text-align: center;
}
.events > h2 {
	text-align: center;
	margin: 0 0 36px 0;
}
.events > ul {
	margin: 0 auto;
	padding: 0 48px 0 50%;
	max-width: 720px;
	list-style: none;
	/*border-bottom: 1px solid #ccc;*/
}
.events > ul > li {
	position: relative;
	padding: 0px 0 48px 24px;
	border-left: 2px solid #ccc;
}
.events > ul > li:last-of-type {
	padding-bottom: 0px;
}
.events > ul > li:before {
	content: "\00a0";
	display: block;
	position: absolute;
	left: -12px;
	top: -2px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #ccc;
	border: 5px solid #fff;
}
.events > ul > li > hgroup {
	margin: 0 0 12px 0;
} 
.events > ul > li > hgroup > h3{
	font: 900 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1;
}
.events > ul > li > hgroup > h4 {
	font-weight: 100;
}
.events > ul > li > img {
	border-radius: 6px;
	width: 100%;
	margin: 0 0 12px 0;
}
.events > ul > li > article {
	padding: 0!important;
	text-align: left;
}
.events .button {
	/*display: none;*/
	position: relative;
	/*top: -42px;*/
	max-width: 200px;
	margin: 24px 0 0 0;
}



.events > ul > li:nth-last-of-type(even) {
	position: relative;
	left: -100%;
	margin: 0 -2px 0 0px;
	padding: 0 24px 48px 0;
	border-left: none;
	border-right: 2px solid #ccc;
}
.events > ul > li:nth-last-of-type(even):before {
	left: auto;
	right: -11px;
}
.events > ul > li:nth-last-of-type(even) > hgroup {
	text-align: right;
}
.events > ul > li:nth-last-of-type(even) > article {
	text-align: right;
}


@media all and (max-width:720px) {

.events > ul {
	padding: 0 24px;
}

.events > ul > li:nth-last-of-type(even) {
	position: relative;
	left: 0%;
	margin: 0 0px 0 0px;
	padding: 0 0px 48px 24px;
	border-right: none;
	border-left: 2px solid #ccc;
}
.events > ul > li:nth-last-of-type(even):before {
	right: auto;
	left: -12px;
}
.events > ul > li:nth-last-of-type(even) > hgroup {
	text-align: left;
}
.events > ul > li:nth-last-of-type(even) > article {
	text-align: left;
}

}

/* @end */





/* @group Find Us */

.find-us {
	position: relative;
	margin: 0 auto;
	padding: 48px 0 0 0;
	/*max-width: 720px;*/
	background-image: url(/images/banner/wine-pour.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.find-us::after{
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(43, 16, 5, 0.71);
}
.find-us > hgroup {
	position: relative;
	z-index: 1000000;
	text-align: center;
}
.find-us > hgroup > img {
	width: 240px;
}
.find-us > h1 {
	text-align: center;
}
.find-us > .contact-info {
	position: relative;
	z-index: 1000000000000;
}
.find-us > .hours {
	position: relative;
	z-index: 1000;
}

/* @end */




/* @group Tasting */

.tasting {
	display: inline-block;
	position: relative;
	z-index: 100000;
	margin: 0 auto;
	text-align: center;
	font: 200 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-left: none;
	border-right: none;
	letter-spacing: 2;
}
.tasting > i {
	font-size: 12px;
}

/* @end */






/* @group Hours */

.hours {
	list-style: none;
	margin: 72px 0 0 0;
	padding: 0 24px 36px 24px;
	text-align: center;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
}
.hours > h2 {
	position: relative;
	display: inline-block;
	/*width: 14.285714286%;*/
	border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 6px;
	background: #fff;
	color: #000;
}
.hours > h2:after {
	content: '\00a0';
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 2px;
	height: 12px;
	background: #fff;
}
.hours > li {
	position: relative;
	display: inline-block;
	width: 13.5%;
	max-width: 100px;
	height: 120px;
	padding: 36px 0px 0px 0;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 6px;
	color: inherit;
	vertical-align: top;
	white-space: nowrap;
}
.hours > li > h4 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0 0 12px;
	padding: 6px 0;
	border-bottom: 2px solid #fff;
	font: 200 16px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4;
	color: inherit;
}
.hours > li:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	vertical-align: middle;
}
.hours > li > hgroup {
	display: inline-block;
	vertical-align: middle;
	padding: 0 12px;
}

.hours > li > hgroup > h5 {
	font: 900 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	letter-spacing: 1;
	text-transform: uppercase;
	white-space: normal;
}
/*.hours > li > h5 > i {
	font-weight: 400;
	font-size: 10px;
}*/
.hours > li > hgroup > h6 {
	font: 400 10px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	text-transform: uppercase;
	white-space: normal;
}


@media all and (max-width:720px) {

.hours {
	max-width: 320px;
	margin: 0 auto;
	padding: 48px 0;
}
.hours > li {
	float: none;
	display: block;
	width: 100%;
	max-width: none;
	height: auto;
	margin: 0;
	padding: 6px;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
}
.hours > li:after {
	display: none;
}
.hours > li+li{
	margin: -2px 0 0 0;
}
.hours > li > h4 {
	position: relative;
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	text-align: left;
	border: none;
}
.hours > li > hgroup {
	float: left;
	width: 70%;
	height: 24px;
	padding: 0;
	text-align: right;
	font: 200 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
}
.hours > li > hgroup > h5,
.hours > li > hgroup > h6 {
	display: inline-block;
}

}

/* @end */






/* @group Wine Page */
.wine-page {
	max-width: 960px;
	margin: 0 auto;
	padding: 48px 12px;
	height:100%;
}
.wine-page > img {
	float: left;
    width: 40%;
    margin: 0 24px 0 0;
}
/* @end */




/* @group Contact Info */

.contact-info {
	position: relative;
	/*max-width: 480px;*/
	padding: 48px 0;
	margin: 0 auto;
	padding: 48px 0;
	
	background: #fff;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	box-shadow: 0 10px 0px -5px #fff inset, 0 11px 0px -5px #ccc inset, 0 -10px 0px -5px #fff inset, 0 -11px 0px -5px #ccc inset;
	
	text-align: center;
}
.contact-info > p {
	display: inline-block;
	width: 30%;
	margin: 24px 0;
	padding: 0 6px;
	font: 200 16px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	white-space: nowrap;
	text-align: center;
	letter-spacing: 1px;
	overflow: visible;
	vertical-align: bottom;
}
.contact-info > p > strong {
	margin: 0 0 12px 0;
	font: 900 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.contact-info > p > strong > img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -2px;
	width: 20px;
	vertical-align: middle;
}
.contact-info > p > span {
	font: 400 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	display: inline-block;
}


.contact-info > p > img {
	display: block;
	width: 72px;
	margin: 0 auto 0 auto;
	padding: 3px 0px;
	text-align: left;
}
.contact-info > p > span:before {
	content: attr(title);
	font: 900 18px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
}



.contact-info > .compass {
	position: absolute;
	z-index: 1000000000000000;
	left: 50%;
	bottom: -50px;
	width: 100px;
	margin: 0 0 0 -50px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 96px;
	box-shadow: 0 0 0 3px #fff;
}


@media all and (max-width:720px) {

.contact-info {
	padding: 0 0 36px 0;
}
.contact-info > p {
	display: block;
	width: 100%;
	padding: 18px 0;
}
.contact-info > p > strong {
	margin: 0;
}
.contact-info > p > span {
	
}

}
/* @end */













/* @group alternating-no-image */

.alternating  > div.no-image > hgroup {
	padding: 24px;
	text-align: center;
}

.alternating > div:nth-of-type(even).no-image > hgroup {
	padding: 24px;
	text-align: center;
}
/* @end */


/* @group ALTERNATING */
.alternating {
	padding: 0;
}
.alternating > div {
	position: relative;
	max-width: 720px;
	margin: 0 auto;
	padding: 50px 0;
	overflow: hidden;
}
.alternating > div > img {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	margin: 0 0 0 48px;
}

.alternating > div > hgroup {
	padding: 0 50% 0 24px;
}
.alternating > div > hgroup > article {
	padding: 0;
}
.alternating > div > hgroup > article > h2 {
	margin: 0 0 24px;
}
.alternating > div > hgroup > article > p {
	margin: 10 0 36px 0;
}

.alternating > div:nth-of-type(even) {
	background: linear-gradient(to right, white 0%, #eceaea 50%, white 100%) #f2f2f2;
	
}
.alternating > div:nth-of-type(even) > img {
	/*height: 150%;*/
	/*top: -25%;*/
}

.alternating > div:nth-of-type(even) > hgroup {
	padding: 0 24px 0 50%;
}
.alternating > div:nth-of-type(even) > img  {
	left: auto;
	right: 50%;
	margin: 0px 48px 0 0;
}
.alternating > div:nth-of-type(even) > h2 {
	float: right;
}
.alternating > div:nth-of-type(even) > p {
	float: right;
	clear: right;
}




.alternating > section {
	position: relative;
	max-width: none;
	text-align: center;
	padding: 100px 96px;
	background-color: #fff!important;
	background-attachment: fixed!important;
	background-size: cover!important;
}
.alternating > section > h4 {
	position: relative;
	z-index: 1000000;
	max-width: 720px;
	margin: 0 auto;
	font: 100 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	letter-spacing: 2px;
}






/* @group Websites + Videos */
.alternating > div > hgroup > ul.media {
	overflow: hidden;
	list-style: none;
	padding: 12px 0;
}
.alternating > div > hgroup > ul.media > li {
	float: left;
	width: 32%;
	height: 120px;
	opacity: .5;
}
.alternating > div > hgroup > ul.media > li:hover {
	opacity: 1;
}
.alternating > div > hgroup > ul.media > li:nth-of-type(2){
	margin: 0 2%;
}
.alternating > div > hgroup > ul.media > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	text-decoration: none;
}
.alternating > div > hgroup > ul.media > li > a > i {
	font-size: 24px;
	line-height: 120px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/* @end */





@media all and (max-width: 720px) {

.alternating > div {
	padding: 0 0px;
	text-align: center;
}
.alternating > div:first-of-type {
	margin-top: 0;
}
.alternating > div > hgroup {
	position: relative;
	margin: -96px 0 0 0;
	padding: 24px!important;
	text-align: center;
}
.alternating > div > hgroup:before {
	content: '\00a0';
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0px;
	width: 100%;
	height: 96px;
	background: linear-gradient(to bottom, rgba(38,40,40,0) 0%, rgba(38,40,40,100) 100%);
}
.alternating > div > hgroup > h2 {
	margin: 0 0 12px 0;
}
.alternating > div > hgroup > p {
	margin: 0;
}
.alternating > div > img  {
	position: relative;
	left: auto;
	top: ;
	margin: 0!important;
	height: auto;
	width: 100%;
}
.alternating > div:nth-of-type(even) > img {
	right: auto;
	height: auto;
}
.alternating > div > hgroup {
	margin: 0;
}
.alternating > div > hgroup > h2 {
		font-size: 36px;
}
.alternating > div > hgroup > p {
	
}
.alternating > div > hgroup > article > ul {
	text-align: left;
}
}
/* @end */




