<div class="banner" style ='background-image: url(/images/banner/club.png)'>
	<hgroup>
		<h1 class="home-title">Wine</h1>
	</hgroup>
	<img src="/images/banner/banner-bottom.svg" alt="" class="banner-bottom" />
</div>