<div class="posts">
	<ul>
		{% assign filtered_posts = site.posts %}
		{% for post in filtered_posts %}
			<li>
				<h1>{{ post.headline }}</h1>
				{% unless post.sub_head == nil %}
				<h2>{{ post.sub_head }}</h2>
				{% endunless %}
				<section class="post-info">
					<span>Posted on <strong>{{ post.date | date:" %b %d, %Y" }}</strong> by: <strong>{{ post.author | downcase | replace:'-',' ' }}</strong></span>
				</section>
				<article>
					{{ post.excerpt }}
				</article>
				<a href="{{ post.url }}" class="button-post border">Read More</a>
			</li>
		{% endfor %}
	</ul>
</div>