<div class="contact-form" id="contact-form">
	<h2>Contact Us</h2>
	<form method="post" action="/contact-us/">
		
		
		<input type="text" name="_gotcha" style="display: none;" />
		
		
		<label>
			<img src="/images/icons/email.svg" alt="" data-cms-original-src="/images/mail.svg" />
			<input type="text" name="email" placeholder="email" />
		</label>
		
		
		<label>
			<img src="//d1qmdf3vop2l07.cloudfront.net/social-pond.cloudvent.net/compressed/71daf8c4aacf98b41312c42385366853.svg" alt="" data-cms-original-src="/images/person.svg" />
			<input type="text" name="name" placeholder="First Last" />
		</label>
		
		
		<label>
			<img src="//d1qmdf3vop2l07.cloudfront.net/social-pond.cloudvent.net/compressed/8fc682e541fb8dce02419f1822301415.svg" alt="" data-cms-original-src="/images/message.svg" />
			<textarea name="message"></textarea>
		</label>
		
		<input type="submit" value="Send Message" class="button" />
	<input type="hidden" name="_encrypted_details" value="b981e9799ddbdcbad276f6503c3bc4902f7c8341a23674007cfe246d0b3c53e739a09dd29efd745489be51249a28bdbda5f76a056f838ea06870a2940f82a74c315a4a59" /></form>
	
	
	<html>
	  <head>
	    <title>reCAPTCHA demo: Simple page</title>
	     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
	  </head>
	  <body>
	    <form action="?" method="POST">
	      <div class="g-recaptcha" data-sitekey="{{site.recaptcha-key}}
	"></div>
	      <br />
	      <input type="submit" value="Submit" />
	    </form>
	  </body>
	</html>
	
</div>