<div class="contact-info">
	{% if site.data.info.phone %}
		<p>
			<strong><img src="/images/icons/phone.svg" alt="Phone" />Phone</strong>
			<a href = "tel: {{ site.data.info.phone }}">{{ site.data.info.phone }}</a>
		</p>
	{% endif %}
	{% if site.data.info.physical-address %}
		<p>
			<strong><img src="/images/icons/marker.svg" alt="Address" />Address</strong>
			<span> <a href="{{site.data.info.map-link}}" target="_blank">{{ site.data.info.physical-address }}<br />{{ site.data.info.city }}, {{site.data.info.state }} {{site.data.info.zip }}</a></span>
		</p>
	{% endif %}
	{% if site.data.info.email %}
		<p>
			<strong><img src="/images/icons/mail.svg" alt="Email" /> Email</strong>
			<a href ="mailto: {{site.data.info.email}}">{{ site.data.info.email }}</a>
		</p>
	{% endif %}
	
	
	<img src="/images/icons/compass.svg" alt="" class="compass"/>
</div>



