<li>
	<hgroup>
		<h3>{{ event.name }}</h3>
		<h4> 
			{{event.date | date_to_long_string }} @ {{ event.date | date: "%I:%M %P" }}
		</h4>
	</hgroup>
	{% if event.event_image %}
	<img src='{{ event.event_image }}'>
	{% endif %}
	<article>
		{{ event.content }}
	</article>
</li>