<footer class="footer">
	<section>
		<a href="/"><img src="/images/logos/logo-dark-h.svg" alt="" class="footer-logo"/></a>
		
		<div class="social">
			<a href="{{ site.data.info.facebook_url }}" target="_blank"><span class="fa fa-facebook-official"></span></a>
			<a href="{{ site.data.info.instagram_url }}" target="_blank"><span class="fa fa-instagram"></span></a>
			<a href="{{ site.data.info.youtube_url }}" target="_blank"><span class="fa fa-youtube"></span></a>
			<a href="{{ site.data.info.twitter_url }}" target="_blank"><span class="fa fa-twitter"></span></a>
			<a href="{{ site.data.info.snapchat_url}} " class="snapchat-button"><span class="fa fa-snapchat-square"></span></a>
		</div>
		

		{% include nav.html %}
		
		<p class="copyright">© Copyright {{ 'now' | date: "%Y" }}. {{ site.title }}. All Rights Reserved.</p>
		
	</section>
</footer>