<ul class="hours">
	<!--<h2>We Are Open</h2>-->
	<!--<br />-->
	<li>
		<h4>Sun</h4>
		<hgroup>
			{% if site.data.hours-of-operation.sunday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.sunday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.sunday_close_time }}</h5>
			{% else %}
			<h6 class="padded">{{ site.data.hours-of-operation.sunday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Mon</h4>
		<hgroup>
			{% if site.data.hours-of-operation.monday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.monday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.monday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.monday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Tue</h4>
		<hgroup>
			{% if site.data.hours-of-operation.tuesday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.tuesday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.tuesday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.tuesday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Wed</h4>
		<hgroup>
			{% if site.data.hours-of-operation.wednesday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.wednesday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.wednesday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.wednesday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Thu</h4>
		<hgroup>
			{% if site.data.hours-of-operation.thursday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.thursday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.thursday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.thursday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Fri</h4>
		<hgroup>
			{% if site.data.hours-of-operation.friday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.friday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.friday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.friday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
	<li>
		<h4>Sat</h4>
		<hgroup>
			{% if site.data.hours-of-operation.saturday_daily_state == 'Open' %}
			<h5>{{ site.data.hours-of-operation.saturday_open_time }}</h5>
			<h6>To</h6>
			<h5>{{ site.data.hours-of-operation.saturday_close_time }}</h5>
			{% else %}
			<h6>{{ site.data.hours-of-operation.saturday_daily_state }}</h6>
			{% endif %}
		</hgroup>
	</li>
</ul>

