<div id="map>">

	<iframe 
	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYRgFCVHTcMUmOi3gyyiTzpfDZCH_MAGU&q=38.357051, -122.280004&zoom=10"
	width="100%" 
	height="50%" 
	frameborder="0" 
	style="border:0" 
	allowfullscreen>
	</iframe>
	
</div>