<ul class="wine-list">	
	{% for wine in wine-list %}
	<li>
		<a href='{{wine.url}}'>
			<img src="{{wine.image_path}}"> 
			<hgroup>
				<h2 title='{{wine.region}}'> {{wine.winename}} </h2>
				<p> {{wine.price}} </p>
			</hgroup>
		</a>
	</li>
	{% endfor %}
</ul>