---
layout: default
title: Events
permalink: /events/
nav_title: Events
nav_class: /events/
nav_order: 3
hide_from_nav: False
banner_headline: With Forgotten Cellars <strong>You're Family</strong>
banner_bottom_image: /images/banner/banner-bottom.svg
banner_header: Events
banner_background_image: /images/banner/winery-event.jpg
---
{% include header.html %}
{% include banner.html %}

<div class='events'>
	<h1> Upcoming </h1>
	<div class="alternating" id="alternating">
		{% assign events = site.events %}
		{% for event in events %}
		{% if event.date > site.time %}
			{% include events.html %}
		{% endif %}
		{% endfor %}
	</div>
</div>