---
layout: default
title: Wine
permalink: /wine/
nav_title: Wine
nav_class: /wine/
nav_order: 2
hide_from_nav: false
banner_header: Wine
banner_headline: We Are Proud To Present<strong>Our Wine</strong>
banner_background_image: /images/banner/wine-swirl.jpg
banner_video_path: /videos/wine-swirl.mp4
---
{% include header.html %}
{% include banner.html %}
{% assign wine-list = site.wines %}
<div class="wine-page">
	{% include wine-list.html %}
</div>