<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

        <script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>
        <script type='text/javascript' src='/scripts/main.js'></script>
    </head>
    <body>
        <div class="content">
    		{{ content }}
        	{% include find-us.html %}
        	{% include footer.html %}
    	</div>
    </body>
</html>


