---
layout: default
banner_header: Wine
---
{% include header_wine.html %}
<div class='wine-page'>
	<img src ='{{page.image_path}}'>
	<hgroup>
		<h2 title='{{page.region}}'> {{page.winename}} </h2>
		<p> {{page.price}} </p>
	</hgroup>
	<article> {{page.description}} </article>
	
	{% if page.video_path %}
	<div class='wine-video'>
		<iframe width="560" height="315" src= {{page.video_path}} frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
	</div>
	{% endif %}
</div>